<div
  class="container"
  style="text-align: center; width: 100%; margin-top: 150px;"
>
  <div class="box">
    <p>
      Bem vindo ao <br />
      <span style="color: crimson; font-size: 18px; font-weight: bold"
        >nome</span
      ><span style="color:darkorange; font-size: 18px; font-weight: bold"
        >do</span
      ><span style="color:olivedrab; font-size: 18px; font-weight: bold"
        >filme</span
      >.com
    </p>
    <button class="btn btn-danger" (click)="login()">
      Logar com sua conta do Google
    </button>
    <button class="btn btn-primary" (click)="loginTwitter()">
      Logar com sua conta do Twitter
    </button>
  </div>
</div>
