.img-backdrop {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.box {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgba(62, 62, 62, 0.945);
  padding: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
  height: 100%;
  color: white;
  border-radius: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 3px;
}

.bold {
  font-weight: bold;
  color: white;
}

.normal {
  font-weight: normal;
  color: "";
}

.alert {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(255, 209, 4, 0.87);
  color: black;

  /* pura mágica */
  position: absolute;
  top: 50%; /* posiciona na metade da tela */
  margin-top: -25px; /* e retrocede metade da altura */
  z-index: 10000;
}

div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 1px;
  font-size: 35px;
  color: #888;
  transition: all .2s;
  text-align: center;
}

input.star:checked {
  color: #FD4;
  transition: all .25s;
}

input.star-1:checked ~ #label-1:before { color: red }
input.star-2:checked ~ #label-2:before { color: darkorange }
input.star-3:checked ~ #label-3:before { color: orange }
input.star-4:checked ~ #label-4:before { color: yellow }
input.star-5:checked ~ #label-5:before { color: greenyellow }

label.star:hover { transform: rotate(-10deg) scale(1.3) }

.label-legenda {
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 55px;
}

hr {
  border-top: 1px dashed rgb(90, 87, 87);
  color: #bbb;
  background-color: #bbb;
  height: 0px;
  margin: 17px 0px 10px 0px;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.btn-white {
  background-color: white;
  color: black;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-black {
  background-color: black;
  color: white;
}

.titulo {
  border-radius: 4px;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
  color: orange;
}


