
<span id="footer" class="footer navbar-fixed-bottom visible-xs">
  <i class="fas fa-exclamation-circle" (click)="navigate('sugestoes')"
    ><br /><span class="footer-text">dicas filmes</span></i
  >
  <i class="fas fa-th-list" (click)="navigate('mymoovies')"
    ><br /><span class="footer-text">meus filmes</span></i
  >
  <i
    (click)="navigate('busca')"
    class="fas fa-search"
    ><br /><span class="footer-text">buscar filmes</span></i
  >
  <i class="fas fa-user" (click)="navigate('profile')"
    ><br /><span class="footer-text">meu perfil</span></i
  >
  <i class="fas fa-cog" (click)="navigate('painel')"
    ><br /><span class="footer-text">minhas configs.</span></i
  >
</span>
