
<span id="footer" class="footer navbar-fixed-bottom visible-xs">



  <a routerLink="" (click)="navigate2('profile')" [style.color]="colorProfile">
      <i class="fas fa-home"
        ><span class="footer-text"><br/>Meu<br>perfil</span></i
  ></a>


  <a routerLink="" (click)="navigate2('mymoovies')" [style.color]="colorMyMoovies">
    <i class="fas fa-th-list"
      ><span class="footer-text"><br/>Meus<br/>filmes</span></i
    ></a>


  <a routerLink="" (click)="navigate2('sugestoes')" [style.color]="colorSugestoes">
    <i class="fas fa-exclamation-circle"
      ><span class="footer-text"><br/>Dicas de<br>filmes</span></i
    ></a>


    <a routerLink="" (click)="navigate2('busca')"  [style.color]="colorBusca">
      <i
        class="fas fa-search"
        ><span class="footer-text"><br/>Buscar<br>filme</span></i
      ></a>


</span>
