  .footer {
    background: #eee;
    height: 58px;
    text-align: center;
    padding-top: 5px;
    color: grey;
    border: 1px #ddd solid;
    -webkit-box-shadow: 0px 0px 1px 0px red;
    box-shadow: 0px 0px 5px 0px grey;
    font-size: 9px;
    display: inline-block;
  }

  i {
    margin: 0px 5px 0px 5px;
    width: 50px;
    font-size: 15px;
    cursor: pointer;
  }


  a:hover {
    color: orange;
  }


  .footer-text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
  }

