img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.box {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(148, 149, 151);
  border-radius: 5px;
  padding: 15px;
 }


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 3px;
}

.bold {
  font-weight: bold;
  color: white;
}

.normal {
  font-weight: normal;
  color: "";
}
