<div class="box col-lg-12" style="background-color: #222222; color:#bbb">

  <div class="col-lg-12" style="background-color: #333333; border-radius: 5px; padding:15px">

    <div *ngIf="filme.backdrop_path" class="col-lg-6" style="padding-bottom: 15px">
      <img [src]="'https://image.tmdb.org/t/p/w500' + filme.backdrop_path" class="img-fluid">
    </div>

    <div style='font-weight: bolder'>
      {{ filme.title }} ({{ filme.release_date | date:'y' }})
    </div>

    <div>
      <span class="glyphicon glyphicon-star" style="padding-right: 3px; color:#fdc306da;"></span>{{
      filme.vote_average }}
      |
      <span class="glyphicon glyphicon-fire" style="padding-right: 3px; color: #b6311fda;"></span>{{
      filme.popularity }}

    </div>

    <div style="padding: 10px"></div>

    <div style="font-size: 12px; padding-left: 5px">Gêneros:</div>

    <span *ngFor="let genre of filme.genres" style="font-size: 12px; color: #222222; background-color: #DDAC0A; margin: 2px; border-radius: 3px; padding: 2px 5px 2px 5px;">
      {{ genre.name }}
    </span>

    <div style="padding: 10px"></div>


    <span (click)="updateMoovieService(1)">
      <button #marcarJaVi [class]="clsJaVi">Já vi!</button>
    </span>

    <span (click)="updateMoovieService(2)">
      <button #marcarQueroVer [class]="clsQueroVer">Quero ver...</button>
    </span>

    <span (click)="updateMoovieService(3)">
      <button #marcarNaoMeInteressa [class]="clsNaoMeInteressa">Não me interessa</button>
    </span>


  </div>

  <div style="padding: 3px"></div>

  <div *ngIf="filme.overview" class="col-lg-12" style="background-color: rgb(199, 185, 140); color: #181818; border-radius: 5px; padding:15px">{{
    filme.overview }}
  </div>

</div>

<div class="row container" (click)="backClicked()" style="text-align: center; padding-top: 15px">
  <br />
  <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-triangle-left" style="padding-right: 5px;">Voltar</span></button>
  <br />
</div>
