<app-nav></app-nav>

<div class="visible-xs" style="height: 40px"></div>

<div style="margin-left: 15px; margin-right: 15px" *ngIf="primeiroAcesso">
  <div class="box container" style="padding-top: 20px; padding-bottom: 20px">
    <div class="col-lg-12">
      Seja bem-vindo ao
      <span style="color: crimson; font-size: 18px; font-weight: bold"
        >nome</span
      ><span style="color:darkorange; font-size: 18px; font-weight: bold"
        >do</span
      ><span style="color:olivedrab; font-size: 18px; font-weight: bold"
      >filme</span
    >.com, o seu ambiente online para busca, classificação e indicação de títulos de
      filmes.
      <p></p>
      <p>
        Mantenha sua lista atualizada e sempre à mão, separando os filmes que
        você já viu dos que você ainda quer ver.
      </p>
      <p></p>
      <p>
        Compartilhe com um amigo a experiência de um filme assistido (em breve),
        recomendando-o ou não, ou simplesmente guarde as informações
        para você. Você pode escolher o seu nível de privacidade na opção "Meu Perfil" do menu.
      </p>
      <p></p>
      <p>
        Acesse agora as opções do menu para encontrar o filme desejado, veja suas informações e adicione-o à sua lista mais
        conveniente, ou para administrar o seu pefil de usuário.
      </p>
      <p></p>
      <p>Divirta-se!</p>
    </div>
  </div>
  <br />
</div>

<app-footer></app-footer>
