<app-nav></app-nav>

<div class="container-fluid">

  <div style="margin-bottom:1px">
    <div class="box">
      <div style="text-align: center">
        <div id="div_titulo">
          {{ filmeTitulo }} ({{ filmeAno | date: "y" }})
        </div>
        <hr />
        <div>
          <i id="i_avaliacao" [style.color]="colorAvaliacao" [class]="classAvaliacao"></i>
          <br>Você achou {{ nomeAvaliacao }}
        </div>
        <div></div>
        <hr />
      </div>
    </div>

    <div class="panel form-group has-feedback" style="margin-top: 5px">
      <span class="titulo-pagina"
        >Localize um(a) amigo(a) para indicar:</span
      >
      <div class="form-group has-feedback">
        <input
          #srch
          autofocus
          (keyup)="getAmigos(srch.value)"
          type="text"
          class="txtSearch"
          placeholder="Digite o nome do(a) amigo(a)..."
        />

        <div class="divBoxSearch" *ngFor="let am of arrayAmigos"
        >
          <div
            class="divHover divBoxSearchInternal"
            (click)="mostraBoxIndicacao(am.Id, am.nome, am.email, am.foto)">
            <span>
            <img class="img avatar" src="{{ am.foto }}" align="left" />
            {{ am.nome }}<br />
            {{ am.email }}
            </span>
          </div>
        </div>
        <span #srchIcon>
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </span>
      </div>
    </div>

    <div *ngIf="amigoEscolhido" class="panel-indicacao">
        <img class="img avatar-escolhido" src="{{ amigoEscolhidoFoto }}" align="left" />
        Amigo(a) escolhido(a):<br />
        {{ amigoEscolhidoNome }}<br />
        {{ amigoEscolhidoEmail }}
        <hr >
        Escreva algo a seu amigo(a):
        <textarea maxlength="150" #msg style="width: 100%; height: 50px;"></textarea>
        <button [disabled]="!msg.value" #btnEnviar (click)="confirmarEnvioIndicacao(msg.value)" class="btn btn-danger">Enviar a indicação</button>
        <button #btnFechar style="display: none" class="btn btn-default">Fechar</button>
      </div>

      <br>

      <div (click)="backClicked()">
          <button class="btn btn-warning btn-block">
            <span class="glyphicon glyphicon-triangle-left">Voltar</span>
          </button>
        </div>

  </div>
</div>
<br>
