<app-nav></app-nav>

<div class="container">
  <hr />
  <span class="titulo-pagina">Busca de filme:</span>
  <hr />
  <div class="form-group has-feedback">
    <input
      #srch
      autofocus
      (keyup)="searchMoovies(srch.value)"
      type="text"
      class="txtSearch"
      placeholder="Digite o nome ou parte do nome do filme..."
    />
    <div
      class="divBoxSearch"
      *ngIf="arrayMoovies.length > 0 && srch.value != ''"
    >
      <div
        class="divHover divBoxSearchInternal"
        *ngFor="let am of arrayMoovies"
      >
        <a style="color:rgb(37, 37, 37)" href="/moovie?id={{am.id}}">
          <div>
            <span class="glyphicon glyphicon-film spanSearchItems"></span
            >{{ am.title }} - ({{ am.release_date | date: "y" }})
          </div>
        </a>
        <hr />
      </div>
    </div>
    <span #srchIcon>
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </span>
  </div>
</div>

<app-footer></app-footer>
