<app-nav></app-nav>

<div style="text-align: center">

    <button class="{{btn2Class}}" (click)="go('popular')">
        <span
        class="glyphicon glyphicon-fire"
        style="margin-right:10px;color:crimson"
      ></span
      >Populares
      </button>

  <button class="{{btn1Class}}" (click)="go('top_rated')">
    <span
    class="glyphicon glyphicon-star"
    style="margin-right:10px;color:darkgoldenrod"
  ></span
  >Aclamados
  </button>

  <button class="{{btn3Class}}" (click)="go('upcoming')">
    <span
                class="glyphicon glyphicon-calendar"
                style="margin-right:10px;color:darkgreen"
              ></span
              >Estreando
  </button>
</div>

<div id="search">{{ search }}</div>

<div class="col-lg-3" *ngFor="let filme of lista_filmes">
  <div class="box">
    <div id="titulo">{{ filme.title }}</div>

    <div style="text-align: center">
        <span class="glyphicon glyphicon-fire" id="fire"></span
          >{{ filme.popularity }} |
      <span class="glyphicon glyphicon-star" id="star"></span
      >{{ filme.vote_average }} | ({{ filme.release_date | date: "y" }})
    </div>

    <div id="div_img">
      <img
        (click)="navigate(filme.id)"
        [src]="'https://image.tmdb.org/t/p/w300/' + filme.poster_path"
        class="img-fluid"
        height="360"
      />
    </div>

    <div id="sinopse">
      {{ filme.overview | slice: 0:150 }}
      {{ filme.overview.length >= 150 ? "..." : "" }}
    </div>

    <div id="mais_informacoes" (click)="navigate(filme.id)">
      Mais informações
    </div>
  </div>

  <br />

</div>


<div class="container-fluid" (click)="backClicked()">
  <button class="btn btn-warning btn-block">
    <span class="glyphicon glyphicon-triangle-left">Voltar</span>
  </button>
</div>

<br />
