<div
  class="modal fade bd-example-modal-lg-nav"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Busca de filmes</h4>
      </div>
      <div class="modal-body">
        <p>Informe o nome ou parte do nome do filme:</p>

        <!-- início conteúdo modal -->
        <div class="form-group has-feedback">
          <input
            #srchNav
            (keyup)="searchMoovies(srchNav.value)"
            type="text"
            class="txtSearch"
            placeholder="Faça sua busca  ..."
          />
          <div
            class="divBoxSearch"
            *ngIf="arrayMoovies.length > 0 && srchNav.value != ''"
          >
            <div
              class="divHover divBoxSearchInternal"
              *ngFor="let am of arrayMoovies"
            >
              <a style="color:rgb(37, 37, 37)" href="/moovie?id={{am.id}}">
                <div>
                  <span class="glyphicon glyphicon-film spanSearchItems"></span
                  >{{ am.title }} - ({{ am.release_date | date: "y" }})
                </div>
              </a>
            </div>
          </div>
          <span #srchIconNav>
            <i
              class="glyphicon glyphicon-search form-control-feedback"
            ></i>
          </span>
        </div>
      </div>
      <br />
      <!-- fim conteúdo modal -->
    </div>
  </div>
</div>



<nav class="nav-bar">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span style="color: crimson; font-size: 18px; font-weight: bold"
        >nome</span
      ><span style="color:darkorange; font-size: 18px; font-weight: bold"
        >do</span
      ><span style="color:olivedrab; font-size: 18px; font-weight: bold"
        >filme</span
      >.com
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="sugestoes"
          ><span class="glyphicon glyphicon-film" style="color: crimson"></span
          ><span> Filmes sugeridos</span></a
        >
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li>
        <a href="mymoovies"
          ><span
            class="glyphicon glyphicon-list-alt"
            style="color: orange"
          ></span
          ><span> Minha lista de filmes</span></a
        >
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li>
        <a (click)="setFocus()"
        href="" data-toggle="modal" data-target=".bd-example-modal-lg-nav"
          ><span
            class="glyphicon glyphicon-search"
            style="color: red"
          ></span
          ><span> Buscar filmes</span></a
        >
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a data-toggle="dropdown" href="#"
          ><span
            class="glyphicon glyphicon-user"
            style="color: olivedrab"
          ></span
          ><span> {{ usuario }}</span
          ><span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a href="painel"
              ><span
                class="	glyphicon glyphicon-th"
                style="color: darkorange"
              ></span>
               Painel de Controle</a
            >
          </li>
          <li></li>
          <li>
            <a href="#"
              ><span
                class="glyphicon glyphicon-remove"
                style="color: red"
              ></span>
              <span (click)="logout()">Sair do sistema</span>
            </a>
          </li>
        </ul>
      </li>

      <ul class="nav navbar-nav"></ul>
    </ul>
  </div>
</nav>
<br />
