/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: grey;
}

a {
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.nav-bar {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 2px -1px #989898;
  -moz-box-shadow: 0 2px 2px -1px #989898;
  -webkit-box-shadow: 0 2px 2px -1px #989898;
}


#i_javiu {
  color: olivedrab;
}

#i_querver {
  color: orange;
}

#i_talvez {
  color: darkorange;
}

#i_dispensa {
  color: darkcyan;
}

