/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: grey;
}

a {
  text-decoration: none;
}

.txtSearch {
  padding: 5px;
  color: rgb(78, 77, 76);
  background-color: #eee;
  font-style: italic;
  font-size: 15px;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-color: rgb(158, 163, 165);
  border-width: 1px;
  border-radius: 5px;
}

input:focus {
  background-color: rgb(242, 243, 184);
}

.divBoxSearch {
  width: 100%;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0.5px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  z-index: 1000;
  position: absolute;
}

.divBoxSearchInternal {
  text-align: left;
  cursor: pointer;
}

.spanSearchItems {
  padding: 3px;
  color: darkorange;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.nav-bar {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 2px -1px #989898;
  -moz-box-shadow: 0 2px 2px -1px #989898;
  -webkit-box-shadow: 0 2px 2px -1px #989898;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-size: 15px;
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  font-size: 12px;
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  font-size: 12px;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
  font-size: 12px;
  font-weight: normal;
}

#i_search {
  color: crimson;
  font-size: 20px;
}



#i_javiu {
  color: olivedrab;
}

#i_querver {
  color: orange;
}

#i_talvez {
  color: darkorange;
}

#i_dispensa {
  color: darkcyan;
}



.box {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
}


.divHover {
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

.divHover:hover {
  background-color: yellow;
}

