<nav class="nav-bar">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#navbar"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 20px"></span>
    </button>
    <a class="navbar-brand" href="#">
      <span style="color: #EA5252; font-size: 25px; font-weight: bold">Indica</span
      ><span style="color:rgb(36, 45, 53); font-size: 25px; font-weight: bold">Moovies</span>
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href=""
          ><span class="glyphicon glyphicon-film" style="color: #555"></span> Meus filmes</a
        >
      </li>
      <li>
        <a href="home"
          ><span class="glyphicon glyphicon-bullhorn" style="color: #555"></span> Filmes sugeridos</a
        >
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="isLogged">
      <li>
        <a href="profile"
          ><span class="glyphicon glyphicon-user" style="color: #555"></span>
          {{ localUser.user_displayName }}
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="glyphicon glyphicon-remove" style="color: #EA5252"></span>
          <span (click)="logout()">Sair</span>
        </a>
      </li>
    </ul>
  </div>

  <div
    style="padding-left: 10px; padding-right: 10px; padding-bottom:5px">
    <div class="form-group has-feedback">
      <input
        #srch
        (keyup)="searchMoovies(srch.value)"
        type="text"
        class="txtSearch"
        placeholder="Utilize este campo para buscar filmes..."
      />
      <div
        class="divBoxSearch"
        *ngIf="arrayMoovies.length > 0 && srch.value != ''"
      >
        <div class="divBoxSearchInternal" *ngFor="let am of arrayMoovies">
          <a style="color:rgb(37, 37, 37)" href="/moovie?id={{am.id}}">
            <span class="glyphicon glyphicon-film spanSearchItems"></span
            >{{ am.title }} - ({{ am.release_date | date: "y" }})
          </a>
        </div>
      </div>
      <i class="glyphicon glyphicon-search form-control-feedback" style="color: #EA5252"></i>
    </div>
  </div>
</nav>
<br />
