<nav class="nav-bar">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span style="color: crimson; font-size: 18px; font-weight: bold"
        >nome</span
      ><span style="color:darkorange; font-size: 18px; font-weight: bold"
        >do</span
      ><span style="color:olivedrab; font-size: 18px; font-weight: bold"
        >filme</span
      >.com
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="" (click)="go('sugestoes')"
          ><span class="glyphicon glyphicon-film" style="color: crimson"></span
          ><span> Dicas de filmes</span></a
        >
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li>
        <a routerLink="" (click)="go('mymoovies')"
          ><span
            class="glyphicon glyphicon-list-alt"
            style="color: orange"
          ></span
          ><span> Meus filmes</span></a
        >
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li>
        <a routerLink="" (click)="go('busca')"
          ><span
            class="glyphicon glyphicon-search"
            style="color: red"
          ></span
          ><span> Buscar filmes</span></a
        >
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a data-toggle="dropdown"  href="#"
          ><span
            class="fas fa-user-circle"
            style="color: olivedrab"
          ></span
          ><span> Meus dados </span
          ><span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="" (click)="go('profile')"
              ><span
                class="fas fa-user"
                style="color: darkorange"
              ></span>
               Perfil</a
            >
          </li>
          <li>
              <a routerLink="" (click)="go('painel')"
                ><span
                  class="fas fa-cog"
                  style="color: rgb(54, 53, 53)"
                ></span>
                 Configurações.</a
              >
            </li>
             <li>
            <a routerLink=""
              ><span
                class="glyphicon glyphicon-remove"
                style="color: red"
              ></span>
              <span (click)="logout()">Sair do sistema</span>
            </a>
          </li>
        </ul>
      </li>

      <ul class="nav navbar-nav"></ul>
    </ul>
  </div>
</nav>
<br />
