@keyframes fa-blink {

  0% { opacity: 1; }
  20% { opacity: 0.7 }
  40% { opacity: 0.5 }
  60% { opacity: 0.2 }
  80% { opacity: 0.5; }
  90% { opacity: 0.7; }
  100% { opacity: 1; }
}
.fa-blink {
-webkit-animation: fa-blink 2s linear infinite;
-moz-animation: fa-blink 2s linear infinite;
-ms-animation: fa-blink 2s linear infinite;
-o-animation: fa-blink 2s linear infinite;
animation: fa-blink 2s linear infinite;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 5%;
  margin: 5px 5px 5px 5px;
}

.box-avatar {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: rgba(7, 94, 85, 0.925);
  padding: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
  height: 230px;
  color:white;
  border-radius: 10px;
}


.box {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: rgba(62, 62, 62, 0.911);
  padding: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
  height: 230px;
  color:white;
  border-radius: 10px;
}

.box-status {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: rgb(253, 253, 253);
  padding: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
  color:grey;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#div_titulo {
  border-radius: 4px;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
  color: orange;
}

#div_poster {
  text-align: center;
  padding-top: 10px;
}

#div_sinopse {
  height: 120px;
  padding: 15px;
  font-size: 13px;
}

#div_mais_informacoes {
  text-align: center;
  cursor: pointer;
}


.img-border {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}


i {
  font-size: 38px;
}


.panel {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 0px 2px 3px rgba(0,0,0,.13), 1px 2px 2px rgba(0,0,0,.1), -1px -2px 2px rgba(0,0,0,.05);
  height: 60px;
  border-radius: 10px;
  color: white;
}

#i_indiquei {
  color: darkcyan;
  padding: 0px;
  margin-top: 0px;
}

#i_indicaram {
  color: orangered;
  padding: 0px;
  margin-top: 0px;
}

#i_nova_indicacao {
  color: orange;
  font-size: 18px;
}

#i_novo_comentario {
  color: orange;
  font-size: 18px;
}

#i_javiu {
  color: green;
}

#c_javiu {
  font-size: 15px;
}

#i_querver {
  color: orange;
}

.huge {
  padding-top: 5px;
  font-size: 15px;
  color: black;
}

.numero {
  font-size: 38px;
  color: crimson;
  font-weight: bold;
}


hr {
  border-top: 1px dashed #aaa;
  color: #aaa;
  background-color: #aaa;
  height: 0px;
  margin: 5px 0px 3px 0px;
}
