<app-nav></app-nav>
<div class="visible-xs" style="height: 40px"></div>

<!-- The actual snackbar -->
<div name="snackbar" #snackbar id="snackbar"></div>

<div class="container text-center">
  <div class="row">
    <div  *ngIf="haIndicacaoNaoLida" class="col-12 box-status" style="margin-bottom:20px">

        <div class="row">
            <div class="col-md-12 col-xs-12">
              <div
                class="col-md-6 col-xs-6"
                style="padding:0; margin-left: 0; cursor: pointer;"
                (click)="verIndicacoes('recebidas')"
              >

                <i id="i_nova_indicacao" class="fas fa-comment fa-blink"></i><br>
                Nova indicação<br>de filme!

              </div>
              <div
                class="col-md-6 col-xs-6"
                style="padding:0; margin-left: 0"
              >

              <!--<i  id="i_novo_comentario" class="fas fa-comment fa-blink"></i> novo comentário-->

              </div>
            </div>
          </div>

    </div>

    <div class="col-lg-6 col-md-6" style="margin-bottom:10px">
      <div class="box-avatar">
        <div>
          <strong>{{ localUser.user_displayName }}</strong>
        </div>

        <img class="img-border avatar" src="{{ localUser.user_photo }}" />
        <div>Participante desde: {{ primeiroAceso | date: "dd/MM/yyyy" }}</div>
      </div>

      <div style="margin-top:20px;">
        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div
                  class="col-md-4 col-xs-4"
                  style="padding:0; margin-left: 0"
                >
                  <i id="i_indiquei" class="far fa-share-square"></i>
                </div>
                <div
                  class="col-md-8 col-xs-8"
                  style="color: black; text-align: left; padding:0; margin-left: 0"
                >
                    Voce já indicou {{ contadorIndicacoesEnviadas }} filmes<br>a seus amigos.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div
                  class="col-md-4 col-xs-4"
                  style="padding:0; margin-left: 0"
                >
                  <i id="i_indicaram" class="far fa-comment"></i>
                </div>
                <div
                  class="col-md-8 col-xs-8"
                  style="color: black; text-align: left; padding:0; margin-left: 0"
                >
                  Seus amigos já lhe fizeram<br>{{ contadorIndicacoesRecebidas }} indicações.
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="col-lg-6" style="margin-bottom:1px">
      <div *ngFor="let filme of lista_filmes">
        <div class="box">
          <div class="col-lg-5 col-sm-5 col-xs-5" id="div_poster">
            Último filme adicionado:
            <img
              class="img-border"
              [src]="'https://image.tmdb.org/t/p/w92/' + filme.poster"
            />
          </div>

          <div class="col-lg-7 col-sm-7 col-xs-7">
            <div id="div_titulo" style="padding-top: 10px">
              {{ filme.titulo }} ({{ filme.lancamento | date: "y" }})
            </div>
            <hr />
            Adicionado em: <br />{{ filme.marcado | date: "d" }}
            {{ filme.marcado | date: "MMM" }} {{ filme.marcado | date: "y" }}
            <br />
            <div>
              <i [style.color]="colorAvaliacao" [class]="classAvaliacao"></i>
            </div>
            <div>Marcado como {{ nomeAvaliacao }}</div>
            <hr />
          </div>
        </div>
      </div>

      <div style="margin-top:20px;">
        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div
                  class="col-md-4 col-xs-4"
                  style="padding:0; margin-left: 0"
                >
                  <i id="i_javiu" class="fas fa-check-double"></i>
                </div>
                <div
                  class="col-md-8 col-xs-8"
                  style="color: black; text-align: left; padding:0; margin-left: 0"
                >
                  Até agora você já marcou<br>{{ contadorJaVistos }} filmes como assistidos.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div
                  class="col-md-4 col-xs-4"
                  style="padding:0; margin-left: 0"
                >
                  <i id="i_querver" class="fas fa-check"></i>
                </div>
                <div
                  class="col-md-8 col-xs-8"
                  style="color: black; text-align: left; padding:0; margin-left: 0"
                >
                E já selecionou outros<br>{{ contadorQuerVer }} filmes para assistir depois.
                </div>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>
<br />
<br />
<br />
<app-footer></app-footer>
