<app-nav></app-nav>

<div id="div_search">{{ search }}<br />
<span *ngIf="!lista_filmes.length"><img src="../assets/loader-grey.gif" style="width: 15px; margin-bottom:3px"></span>
<span *ngIf="lista_filmes.length">{{ lista_filmes.length}}</span>
 filme(s)</div>

<div class="col-lg-3" *ngFor="let filme of lista_filmes">
  <div class="box">
    <div id="div_titulo">{{ filme.titulo }}</div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="div_poster">
      <img
        class="img-moovie"
        (click)="navigate(filme.id)"
        [src]="'https://image.tmdb.org/t/p/w92/' + filme.poster"
      />
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="div_sinopse">
      {{ filme.sinopse | slice: 0:65 }}
      {{ filme.sinopse.length >= 65 ? "..." : "" }}
    </div>

    <div id="div_mais_informacoes" (click)="navigate(filme.id)">
      Mais informações
    </div>
  </div>

  <br />
</div>

<div *ngIf="lista_filmes.length" class="container-fluid" (click)="backClicked()">
  <button class="btn btn-warning btn-block">
    <span class="glyphicon glyphicon-triangle-left">Voltar</span>
  </button>
</div>

<br />
