<app-nav></app-nav>
<div class="visible-xs" style="height: 40px"></div>

<div style="text-align: center">
  <span class="titulo-pagina"> Meus filmes: </span>

  <button class="{{btn1Class}}" (click)="go(1)">
    <span><i id="i_javiu" class="fas fa-check-double"></i> Já assistidos</span>
  </button>
  <button class="{{btn2Class}}" (click)="go(2)">
    <span><i id="i_querver" class="fas fa-check"></i> Para assistir</span>
  </button>
</div>

<hr />

<div class="col-lg-3" *ngFor="let filme of lista_filmes?.slice().reverse()">
  <div class="box">
    <div
      id="titulo"
      style="margin: 3px 0px 3px 0px;
    overflow: hidden; padding: 3px;
    white-space: nowrap; width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(32, 30, 30); color:rgb(230, 229, 228)"
    >
      {{ filme.titulo | slice: 0:30 }}
      {{ filme.titulo.length >= 30 ? "..." : "" }} ({{
        filme.lancamento | date: "y"
      }})
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="div_poster">
      <img
        class="img-moovie"
        (click)="navigate(filme.id)"
        [src]="'https://image.tmdb.org/t/p/w92/' + filme.poster"
      />
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="div_sinopse">
      {{ filme.sinopse | slice: 0:65 }}
      {{ filme.sinopse.length >= 65 ? "..." : "" }}
    </div>

    <div style="text-align: center">
      <button
        style="color: black; margin-right: 0px"
        class="btn btn-warning"
        (click)="navigate(filme.id)"
      >
        + informações...
      </button>
    </div>
  </div>

  <br />
</div>

<div class="container-fluid" (click)="backClicked()">
  <button class="btn btn-warning btn-block">
    <span class="glyphicon glyphicon-triangle-left">Voltar</span>
  </button>
</div>

<br />
<br />
<br />
<br />
<app-footer></app-footer>
