<app-nav></app-nav>

<div style="text-align: center">
  <button class="{{btn1Class}}" (click)="go(1)">
    <span><i id="i_javiu" class="fas fa-check-double"></i> Já vi</span>
  </button>
  <button class="{{btn2Class}}" (click)="go(2)">
    <span
      ><i id="i_querver" class="fas fa-check"></i> Quero
      ver</span
    >
  </button>
 </div>

<br />
<div id="search" style="text-align: center">
  {{ search }}: <span *ngIf="!resultado"
    ><img src="../assets/loader-grey.gif" style="width: 15px"
  /></span>
  <span *ngIf="resultado">{{ resultado }}</span> resultados(s).
</div>
<br />

<div class="col-lg-3" *ngFor="let filme of lista_filmes">
  <div class="box">
    <div id="div_titulo">{{ filme.titulo }}</div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="div_poster">
      <img
        class="img-moovie"
        (click)="navigate(filme.id)"
        [src]="'https://image.tmdb.org/t/p/w92/' + filme.poster"
      />
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="div_sinopse">
      {{ filme.sinopse | slice: 0:65 }}
      {{ filme.sinopse.length >= 65 ? "..." : "" }}
    </div>

    <div id="div_mais_informacoes" (click)="navigate(filme.id)">
      Mais informações
    </div>
  </div>

  <br />
</div>

<div class="container-fluid" (click)="backClicked()">
  <button class="btn btn-warning btn-block">
    <span class="glyphicon glyphicon-triangle-left">Voltar</span>
  </button>
</div>

<br />
