<div style="text-align: center; padding-top: 8px">
  <button
    type="button"
    class="btn btn-warning"
    (click)="getLastMoovies('top_rated')"
  >
    <i class="glyphicon glyphicon-star"></i>Aclamados
  </button>

  <button
    type="button"
    class="btn btn-danger"
    (click)="getLastMoovies('popular')"
  >
    <i class="glyphicon glyphicon-fire"></i>Populares
  </button>

  <button
    type="button"
    class="btn btn-success"
    (click)="getLastMoovies('upcoming')"
  >
    <i class="glyphicon glyphicon-certificate"></i>Estréias
  </button>
</div>

<div id="search">{{ search }}</div>

<div class="col-lg-3" *ngFor="let filme of lista_filmes">
  <div class="box">
    <div id="titulo">{{ filme.title }}</div>

    <div style="text-align: center">
      <span class="glyphicon glyphicon-star" id="star"></span
      >{{ filme.vote_average }} |
      <span class="glyphicon glyphicon-fire" id="fire"></span
      >{{ filme.popularity }} | ({{ filme.release_date | date: "y" }})
    </div>

    <div id="div_img">
      <img
        (click)="navigate(filme.id)"
        [src]="'https://image.tmdb.org/t/p/w300/' + filme.poster_path"
        class="img-fluid"
        height="360"
      />
    </div>

    <div id="sinopse">
      {{ filme.overview | slice: 0:150 }}
      {{ filme.overview.length >= 150 ? "..." : "" }}
    </div>

    <div id="mais_informacoes" (click)="navigate(filme.id)">
      Mais informações
    </div>
  </div>

  <br />
</div>
