


          <!-- /.row -->
          <div class="my-container">
            <div class="col-lg-3 col-md-6">
              <div class="panel">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i
                        class="glyphicon glyphicon-ok-sign"
                      ></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        filmes que <strong>VOCÊ JÁ VIU!</strong><br /><span
                          class="numero"
                          (click)="navigate(1)"
                          ><span *ngIf="contadorJaVistos">{{
                            contadorJaVistos
                          }}</span>
                          <span *ngIf="!contadorJaVistos">0</span></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i
                        class="glyphicon glyphicon-screenshot"
                      ></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        filmes que você <strong>QUER VER!</strong
                        ><br /><span (click)="navigate(2)" class="numero"
                          ><span *ngIf="contadorQuerVer">{{
                            contadorQuerVer
                          }}</span>
                          <span *ngIf="!contadorQuerVer">0</span></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i
                        class="glyphicon glyphicon-circle-arrow-left"
                      ></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        filmes indicados <strong>PARA VOCÊ!</strong
                        ><br /><span class="numero"
                          ><span *ngIf="contadorIndicados">{{
                            contadorIndicados
                          }}</span>
                          <span *ngIf="!contadorIndicados">0</span></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i
                        class="glyphicon glyphicon-circle-arrow-right"
                      ></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        filmes indicados <strong>POR VOCÊ</strong><br /><span
                          class="numero"
                          ><span *ngIf="contadorIndiquei">{{
                            contadorIndiquei
                          }}</span>
                          <span *ngIf="!contadorIndiquei">0</span></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

