.huge {
  padding-top: 5px;
  font-size: 15px;
  color: black;
}

.numero {
  cursor: pointer;
  font-size: 38px;
  color: crimson;
  font-weight: bold;
}


.panel {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px rgba(0,0,0,.13), 1px 2px 2px rgba(0,0,0,.1), -1px -2px 2px rgba(0,0,0,.05);
  height: 90px;
}

.my-container {
  margin: 5px;
}


i {
  color: crimson;
  font-size: 65px;
}

#i_javiu {
  color: olivedrab;
}

#i_querver {
  color: orange;
}

#i_talvez {
  color: darkorange;
}

#i_dispensa {
  color: darkcyan;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.row-center {
  text-align: center;
}

#separador {
  padding: 3px;
}
