<div id="wrapper">
  <div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel" style="background: rgb(43, 204, 43)">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="glyphicon glyphicon-ok-sign" style="color: rgb(224, 247, 205); font-size: 65px"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">
                  <a href="/protocols?an=1" id="numero">0</a>
                </div>
                <div>filmes que<br /><strong>VOCÊ JÁ VIU!</strong></div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Marcados por você como já assistidos.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel" style="background: orange">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="glyphicon glyphicon-screenshot" style="color: rgb(238, 240, 145); font-size: 65px"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">
                  <a href="/protocols?an=2,7" id="numero">22</a>
                </div>
                <div>filmes que<strong><br />VOCÊ QUER VER!</strong></div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Marcados por você para assistir depois.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel" style="background: rgb(10, 153, 235)">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="glyphicon glyphicon-circle-arrow-left" style="color:rgb(169, 205, 226); font-size: 65px;"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">
                  <a href="/protocols?an=3" id="numero">13</a>
                </div>
                <div>filmes indicados<br /><strong>PARA VOCÊ!</strong></div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Filmes que seus amigos te indicaram.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel" style="background: #c42ff1">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i
                  class="glyphicon glyphicon-circle-arrow-right"  style="color: #ebbbe8; font-size: 65px"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">
                  <a href="/protocols?an=4,5" id="numero">38</a>
                </div>
                <div>filmes indicados<br /><strong>POR VOCÊ!</strong></div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Filmes que você indicou a seus amigos.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
