<app-nav></app-nav>

<div class="my-container">
  <div class="col-lg-6 col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="row row-center">
          <div class="col-xs-3">
            <img src="{{ localUser.user_photo }}" class="avatar" />
          </div>
          <div class="huge">
            <strong>{{ localUser.user_displayName }}</strong> <br />
            ({{ localUser.user_email }})
          </div>
        </div>
      </div>
    </div>
  </div>

  <div (click)="navigate(1)" class="col-lg-3 col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i id="i_javiu" class="fas fa-check-double"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">
                <strong>VOCÊ JÁ VIU:</strong><br /><span
                class="numero"
                ><span *ngIf="contadorJaVistos">{{ contadorJaVistos }}</span>
                <span id="c_javiu" *ngIf="!contadorJaVistos"><img src="../assets/loader-red.gif" style="margin-bottom:10px; margin-right: 5px;"></span></span
              > filme(s)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="navigate(2)" class="col-lg-3 col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i id="i_querver" class="fas fa-check"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">
                <strong>VOCÊ QUER VER:</strong><br /><span
                class="numero"
                ><span *ngIf="contadorQuerVer">{{ contadorQuerVer }}</span>
                <span *ngIf="!contadorQuerVer"><img src="../assets/loader-red.gif" style="margin-bottom:10px; margin-right: 5px;"></span></span
              > filme(s)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
