<app-nav></app-nav>

<div style="text-align: center">
  <button class="{{btn1Class}}" (click)="go(1)">
    <span><i id="i_javiu" class="fas fa-check-double"></i> Já Vi</span>
  </button>

  <button class="{{btn2Class}}" (click)="go(2)">
    <span><i id="i_querver" class="fas fa-check"></i> Quero ver</span>
  </button>

  <button class="{{btn3Class}}" (click)="getIndicacoes('enviadas')">
    <span><i id="i_javiu" class="far fa-share-square"></i> Indiquei</span>
  </button>

  <button class="{{btn4Class}}" (click)="getIndicacoes('recebidas')">
    <span><i id="i_querver" class="far fa-comment"></i> Me indicaram</span>
  </button>
</div>

<hr />

<div
  class="container"
  style="text-align: center; background-color: rgba(255, 255, 255, 0.692)"
>
  <div style="padding: 10px">
    <div *ngIf="carregando">Carregando lista de indicações...</div>
    <div *ngIf="!carregando">
      <div *ngIf="fluxo == 'recebidas'">
        <div *ngIf="arrayIndicacoes.length == 0">
          Nenhuma indicação de filme enviada para você até agora.
        </div>
        <div *ngIf="arrayIndicacoes.length > 0">
          Indicações que você recebeu: {{ arrayIndicacoes.length }}
        </div>
      </div>
      <div *ngIf="fluxo == 'enviadas'">
        <div *ngIf="arrayIndicacoes.length == 0">
          Você ainda não fez nenhuma indicação de filme até agora.
        </div>
        <div *ngIf="arrayIndicacoes.length > 0">
          Indicações que você enviou: {{ arrayIndicacoes.length }}
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div
    class="col-lg-4"
    *ngFor="let indicacao of arrayIndicacoes.slice().reverse()"
  >
    <div class="box">
      <div class="panel col-lg-12" *ngIf="fluxo == 'recebidas'">
        Indicação de:
        <hr />
        <img
          class="img avatar"
          src="{{ indicacao.usuarioFoto }}"
          align="left"
        />
        {{ indicacao.usuarioNome }}<br />
        {{ indicacao.usuarioEmail }}
      </div>

      <div class="panel col-lg-12" *ngIf="fluxo == 'enviadas'">
        Sua indicação para:
        <hr />
        <img
          class="img avatar"
          src="{{ indicacao.amigoEscolhidoFoto }}"
          align="left"
        />
        {{ indicacao.amigoEscolhidoNome }}<br />
        {{ indicacao.amigoEscolhidoEmail }}
      </div>
      <div
        id="titulo"
        style="
      overflow: hidden; padding: 3px;
      white-space: nowrap; width: 100%;
      text-align: center;
      border-radius: 0px;
      background-color: black; color:white;"
      >
        {{ indicacao.filmeTitulo | slice: 0:30 }}
        {{ indicacao.filmeTitulo.length >= 30 ? "..." : "" }} ({{
          indicacao.filmeAno | date: "y"
        }})
        <span *ngIf="indicacao.status == 0" style="color: orange;"
          ><br />(indicação nova!!!)</span
        >
        <span *ngIf="indicacao.status == 1" style="color: orange;"
          ><br />(lida em {{ indicacao.lidaEm | date: "dd/MM/yyyy" }})</span
        >
        <span *ngIf="indicacao.status == 2" style="color: orange;"
          ><br />(rejeitada em
          {{ indicacao.lidaEm | date: "dd/MM/yyyy" }})</span
        >
      </div>

      <div class="col-lg-5 col-sm-5 col-xs-5" id="div_poster">
        <img
          class="img-moovie"
          (click)="
            navigate(
              indicacao.filmeId,
              indicacao.usuarioId,
              indicacao.amigoEscolhidoId
            )
          "
          [src]="'https://image.tmdb.org/t/p/w92/' + indicacao.filmePoster"
        />
      </div>

      <div
        class="col-lg-7 col-sm-7 col-xs-7"
        id="div_sinopse"
        style="padding-top:8px"
      >
        Msg. de {{ indicacao.usuarioNome }}:
        <hr />
        <span style="font-weight: normal; font-size: 12px">
          {{ indicacao.mensagem | slice: 0:150 }}
          {{ indicacao.mensagem >= 150 ? "..." : "" }}
        </span>
      </div>

      <div style="text-align: center">
        <span style="text-align: center">
          <button
            style="color: black; margin-bottom:10px"
            class="btn btn-xs btn-warning"
            (click)="
              navigate(
                indicacao.filmeId,
                indicacao.usuarioId,
                indicacao.amigoEscolhidoId
              )
            "
          >
            + infs. sobre o filme
          </button>
        </span>

        <span style="text-align: center" *ngIf="fluxo == 'enviadas'">
          <button
            style="color: white; margin-bottom:10px"
            class="btn btn-xs btn-danger"
            (click)="
              confirmarCancelamentoDeIndicacao(
                indicacao.filmeId,
                indicacao.usuarioId,
                indicacao.amigoEscolhidoId
              )
            "
          >
            <i class="fas fa-trash-alt"></i> Cancelar a indicação
          </button>
        </span>

        <span style="text-align: center" *ngIf="fluxo == 'recebidas'">
          <button
            style="color: white; margin-bottom:10px"
            class="btn btn-xs btn-danger"
            (click)="
              confirmarRejeitamentoDeIndicacao(
                indicacao.filmeId,
                indicacao.usuarioId,
                indicacao.amigoEscolhidoId
              )
            "
          >
            <i class="fas fa-hand-paper"></i> Rejeitar essa indicação
          </button>
        </span>
      </div>
    </div>

    <br />
  </div>
  <div (click)="backClicked()">
    <button class="btn btn-default btn-block">
      <span class="glyphicon glyphicon-triangle-left">Voltar</span>
    </button>
  </div>
</div>

<br />
